*
!/.ci
!/.githooks
!/.github
!/apps
!/clusters
!/infrastructure
!/inventory
!/.e2eignore
!/.gitconfig
!/.sourceignore
!/.yamllint
!/LICENSE
!/scripts
!/local-clusters
# allow globally these files
!.gitignore
!README.md
!Makefile
!.devcontainer