*
!/.ci
!/.githooks
!/.github
!/apps
!/clusters
!/crds
!/infrastructure
!/inventory
!/.e2eignore
!/.gitconfig
!/.sourceignore
!/.yamllint
!/LICENSE
# allow globally these files
!.gitignore
!README.md
