*
!.gitignore
!.gitconfig
!/LICENSE
!README.md
!*/
# ignore directories starting with underscore
_*
!.github/*
!.githooks/*
!.sourceignore
!.yamllint
# allow anything in charts directory at the moment. the idea is to move them into own repo later
!charts/**/*
# allow anything under config directory within apps
!apps/**/config/*
!apps/**/.env
!*.yaml
!*.yml
!.ci/**/*.sh
# ignore yaml files starting with underscore
_*.yaml
_*.yml