apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  bootstrap: false
  repo: https://metallb.github.io/metallb
  chart: metallb
  targetNamespace: metallb-system
  valuesContent: |-
    speaker:
      enabled: false
      serviceAccount:
        create: false
    configInline:
      address-pools:
      - name: default
        protocol: bgp
        addresses:
        - {{ calico.metallb_addresses }}
