apiVersion: v1
kind: Namespace
metadata:
  name: {{ metallb.target_namespace }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  bootstrap: true
  repo: https://metallb.github.io/metallb
  chart: metallb
  targetNamespace: {{ metallb.target_namespace }}
  valuesContent: |-
    speaker:
      enabled: {{ metallb.speaker.enabled }}
      frr:
        enabled: {{ metallb.speaker.frr.enabled }}
      serviceAccount:
        create: false
    controller:
      tolerations:
      - key: "CriticalAddonsOnly"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    configInline:
      address-pools:
      - name: default
        protocol: {{ metallb.protocol }}
        addresses:
        - {{ metallb.addresses }}
