IFACE="{{ ansible_default_ipv4.interface }}"
REALM="{{ dynamic_dns.realm|lower }}"
DNS_SERVER="{{ dynamic_dns.nameserver }}"
TTL="3600"
PRINCIPAL="{{ dynamic_dns.user }}"
{% if inventory_hostname in groups['master_nodes'] and k3s_server.server_address|length > 4 %}
SERVER_ADDR="{{ k3s_server.server_address }}"
{% endif %}