[Unit]
Description=Windows DNS dynamic update. Updates hostname and ip reverse
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=timers.target

[Service]
Type=oneshot
EnvironmentFile=-{{ systemd_dir }}/dyndns-update.service.env
ExecStart={{ dynamic_dns.install_path }}/dyndns-update.sh