global
  log stdout format raw local0 info

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend ssh_in
  bind :22
  default_backend forgejo_ssh

backend forgejo_ssh
  server forgejo 127.0.0.1:2222 send-proxy-v2
