[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/k3s.service.env
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s \
    server \
 '--node-ip={{ansible_host}}' \
 '--node-label=node.kubernetes.io/exclude-from-external-load-balancers=true' \
 '--server=https://{{k3s.server_address}}:6443' \
 '--disable=local-storage' \
 '--disable=traefik' \
 '--disable=servicelb' \
 '--disable=metrics-server' \
 '--flannel-backend=none' \
 '--datastore-endpoint=etcd' \
 '--tls-san={{ k3s.server_address }}' \
 '--cluster-cidr={{ k3s_server.cidr.cluster }}' \
 '--service-cidr={{ k3s_server.cidr.service }}' \
 '--kube-apiserver-arg=default-not-ready-toleration-seconds=10' \
 '--kube-apiserver-arg=default-unreachable-toleration-seconds=10' \
 '--kube-controller-arg=node-monitor-period=4s' \
 '--kube-controller-arg=node-monitor-grace-period=16s' \
 '--kube-controller-arg=pod-eviction-timeout=20s' \
 '--kubelet-arg=node-status-update-frequency=4s' \
 '--kubelet-arg=feature-gates=GracefulNodeShutdown=true' 