#!/bin/bash
IFACE=${IFACE:-{{ ansible_default_ipv4.interface }}}
REALM=${REALM:-{{ dynamic_dns.realm|lower }}}
DNS_SERVER=${DNS_SERVER:-{{ dynamic_dns.nameserver }}}
IP_ADDR=$(ip -4 addr show ${IFACE} | grep -oP '(?<=inet\s)\d+(\.\d+){3}')
REVERSE=$(echo ${IP_ADDR} | awk -F. '{print $4"."$3"." $2"."$1}')
HOST_NAME=${HOST_NAME:-$(uname -n)}
FQDN="${HOST_NAME}.${REALM}"
CURRENT_RECORD=$(dig +short ${FQDN} @${DNS_SERVER})
CURRENT_REVERSE=$(echo ${CURRENT_RECORD} | awk -F. '{print $4"."$3"." $2"."$1}')
ADDITIONAL_HOST=${SERVER_ADDR:-false}
TTL="${TTL:-300}"
RECORD_TYPE="A"
DELETE_PTR=""

ADDITIONAL_HOST_COMMAND=""

if [ "$(host -v ${CURRENT_RECORD} | grep -o ${FQDN})" = "$FQDN" ]; then
    DELETE_PTR="update delete ${CURRENT_REVERSE}.in-addr.arpa ${TTL} IN PTR ${FQDN}"
fi

if [ "${ADDITIONAL_HOST}" != "false" ]; then
    ADDITIONAL_HOST_COMMAND=$(cat << EOF
update delete $ADDITIONAL_HOST 0 $RECORD_TYPE $CURRENT_RECORD
update add $ADDITIONAL_HOST 0 $RECORD_TYPE $IP_ADDR
EOF)
fi

if [ "$CURRENT_RECORD" != "$IP_ADDR" ]; then
    {{ dynamic_dns.install_path }}/refresh-krb-token.sh

    nsupdate -g <<EOF
server $DNS_SERVER
$ADDITIONAL_HOST_COMMAND
update delete $FQDN $TTL $RECORD_TYPE
update add $FQDN $TTL $RECORD_TYPE $IP_ADDR
send

update add ${REVERSE}.in-addr.arpa. ${TTL} PTR ${FQDN}.
send

$DELETE_PTR
send
quit
EOF
fi