[libdefaults]
default_realm = {{ dynamic_dns.realm|upper }}

[realms]
{{ dynamic_dns.realm|upper }} = {
  kdc = {{ dynamic_dns.nameserver }}
  admin_server = {{ dynamic_dns.nameserver }}
}

[domain_realm]
{{ dynamic_dns.realm|lower }} = {{ dynamic_dns.realm|upper }}
.{{ dynamic_dns.realm|lower }} = {{ dynamic_dns.realm|upper }}