apiVersion: projectcalico.org/v3
kind: FelixConfiguration
metadata:
  name: default
spec:
  bpfEnabled: {{ "true" if calico.linuxDataplane == "BPF" else "false" }}
{% if calico.linuxDataplane == "BPF" %}
  bpfExternalServiceMode: DSR
  bpfLogLevel: ""
{% endif %}
  logSeverityScreen: Info
  reportingInterval: 0s