role: Agent
dataDir: /vector-data-dir
resources: {}
args:
- -w
- --config-dir
- /etc/vector/
containerPorts:
- name: prom-exporter
  containerPort: 9090
  protocol: TCP
service:
  enabled: false
image:
  base: debian
  tag: 0.51.0-debian # {"$imagepolicy": "flux-system:vector-debian:tag"}
extraVolumes:
- name: machine-id
  hostPath:
    path: /etc/machine-id
    type: File
extraVolumeMounts:
- name: machine-id
  mountPath: /etc/machine-id
  readOnly: true
