---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  controlPlaneTolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
  calicoNetwork:
    ipPools:
    - blockSize: 26
      cidr: "{{ k3s_server.cidr.cluster }}"
      encapsulation: "{{ calico.encapsulation }}"
      natOutgoing: Enabled
      nodeSelector: all()
    nodeAddressAutodetectionV4:
      cidrs:
      - "{{ calico.node_cidr }}"