!livingroom-pi
!nas
!tpi-1
!*/bootstrap
!*/bootstrap/**/*.yaml
!*/bootstrap/configmaps
!*/bootstrap/namespaces
!*/bootstrap/secrets
!*/bootstrap/*.yaml
!*/extra-helm-values
!*/extra-helm-values/*.yaml
!*/extra-helm-values-mesh
!*/extra-helm-values-mesh/*.yaml
!*/patches
!*/patches/*
!*/patches/**/*.yaml
!cilium-base-values.yaml
